<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="csvfileprovidersection" type="Configuration.CsvFileProviderSection, App_Code" />
  </configSections>

  <csvfileprovidersection filename="\orders.csv" separator="," />

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <connectionStrings>
    <clear />
    <add name="ordersDB" connectionString="data source=|DataDirectory|\ordersdb.db" providerName="System.Data.SqLite" />
  </connectionStrings>


</configuration>